# Code quality tools
pre-commit>=3.7.0
black>=24.4.2
flake8>=7.0.0
flake8-bugbear>=24.4.0
mypy>=1.10.0
types-requests>=2.31.0
types-PyYAML>=6.0.12

# Testing
pytest>=8.2.0
pytest-cov>=5.0.0

# Build tools
wheel>=0.43.0
setuptools>=70.0.0
build>=1.2.0

# API schema exporting
apispec>=6.3.1
apispec_webframeworks>=0.5.2
pyyaml>=6.0.1
